{% extends 'base.html.twig' %}

{% block title %}Etablissements{% endblock %}

{% block body %}


<div class="container pt-5">

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="row">
        {% for etablissement in pagination %}
            {% include "partials/etablissement/card.html.twig" %}
        {% endfor %}
    </div>
</div>


{% endblock %}
