{% extends 'base.html.twig' %}

{% block title %}Etablissements{% endblock %}

{% block body %}


<div class="container pt-5">
    {% include "partials/etablissements/cardFull.html.twig" %}
</div>


{% endblock %}
